.card-title{
  font-family: 'Bebas Neue', cursive;
font-family: 'Orelega One', cursive;
word-spacing: 10px;
}
.card-title{
  
    text-shadow: 2px 2px 5px;
  
  
}
.card-text{
  font-family: 'Barlow Condensed', sans-serif;
  

}
.heading1{
  text-shadow: 2px 2px;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  text-align: center;
}
